<%- include layout/header %>
    

<div class="col-lg-12 text-center">
        <br/>
        <a class="btn btn-primary" href="/user/add-new" >Add new user</a>  
        <br /><br />
        <a class="btn btn-success" href="/user/view-list" >View user list</a>
</div>

<%- include layout/footer %>